/* Style global */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.hidden {
  display: none;
}

/* Section de connexion */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#usernameInput,
#avatarInput {
  margin: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Section de chat */
#chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #007bff;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

#messages {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: scroll;
}

#inputContainer {
  display: flex;
  align-items: center;
}

#messageInput {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

#imageInput {
  margin-left: 10px;
}
